@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.todo-area{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-weight: 500;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

h1{
  margin-bottom: 40px;
  color: rgb(37, 32, 32);
}

.todo-input{
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btns-area{
  display: flex;
  margin-bottom: 25px;
  gap: 10px;
}

.confirm-input{
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  padding: 7px 20px;
  border-radius: 7px;
  align-items: center;
}

.clear-completed{
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  padding: 7px 20px;
  border-radius: 7px;
  align-items: center;
}

.toggle-all{
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  padding: 7px 20px;
  border-radius: 7px;
  align-items: center;
}

ul{
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aliceblue;
  list-style: none;
}

.todo-item{
  display: flex;
}

.completed{
  background: #72cf72;
  background: linear-gradient(90deg, rgb(187, 255, 167) 0%, rgb(58, 211, 23) 100%);
}

/*
.completed:hover{
  background: #72cf72;
  background: linear-gradient(90deg, rgb(187, 255, 167) 0%, rgb(108, 248, 76) 100%);
}
 */ 

.notCompleted{
  background: #dbadad;
  background: linear-gradient(90deg, rgb(255, 177, 177) 0%, rgba(252, 0, 0, 1) 100%);
}

/*
.notCompleted:hover{
  background: #dbadad;
  background: linear-gradient(90deg, rgb(255, 177, 177) 0%, rgb(250, 57, 57) 100%);
}
*/

.todo-text-area{
  margin: 15px 0 15px 15px;
  width: 85%;
}

.todo-text{
  cursor: default;
}

.todo-text:hover{
  transition: 0.2s; 
  color: rgb(255, 255, 255);
}

.removeTodo{
  padding: 3px;
  margin: 15px 15px 15px 0;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 15%;
}

.removeTodo:hover{
  transform: scale(1.1);
}