@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.personal-inf{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 500;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.a{
    margin-right: 140px;
    font-size: 1.5em;
}   

.avatar img {
    max-width: 80%;
}

