*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(97, 88, 134);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root{
  margin-top: 20px;
  background-color: aqua;
  width: 80%;
  border-radius: 20px;
}





