*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(97, 88, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 ;
}

header{
  border-radius: 20px;
}

#root{
  margin-top: 80px;
  background-color: aqua;
  width: 80%;
  border-radius: 20px;
}





